<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет | S P M S</title>
    <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/lk.css}" rel="stylesheet" media="screen">

    <meta name="theme-color" content="#563d7c">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light sticky-top bg-light shadow-sm">
    <a class="navbar-brand" th:href="@{/}">S P M S</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active" th:href="@{/main}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/chatrooms}">Переписки</a>
            </li>

        </ul>
    </div>
    <a class="btn btn-link my-2 my-sm-0" th:href="@{/logout}" role="button">Выход</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                    <span>Профиль</span>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-4">
                        <a class="nav-link active" href="#">
                            <span data-feather="home" th:text="${user.name}"></span>
                            <span class="sr-only">(current)</span>
                        </a>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-muted">
                            <span th:text="${user.getUserRole().displayValue}"></span>
                        </h6>
                    </li>
                </ul>



                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CUSTOMER')">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" th:href="@{/project/create}">
                                <span data-feather="home">Создать проект</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item mb-1">
                        <a class="nav-link" th:href="@{/archive}">
                            <span data-feather="home">Архив</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" th:href="@{/project/get(type='active')}">
                                <span data-feather="home">Проекты</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" th:href="@{/task}">
                                <span data-feather="home">Задачи</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" th:href="@{/team}">
                                <span data-feather="home">Команда</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">


            <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h5 class="my-0 font-weight-normal text-primary">Рабочий процесс</h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-primary">Проекты</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">В работе: <span th:utext="${activeProjects}"></span></h6>
                                    <p class="card-text">Ожидают: <span th:utext="${notApprovedProjects}"></span></p>
                                    <p class="card-text">Завершено: <span th:utext="${completedProjects}"></span></p>
                                    <a th:href="@{/project/get(type='active')}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-success">Задачи</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">В работе: <span th:utext="${activeTasks}"></span></h6>
                                    <p class="card-text">Ожидают выполнения: <span th:utext="${waitingTasks}"></span></p>
                                    <p class="card-text">На подтверждении: <span th:utext="${waitingApprove }"></span></p>
                                    <a th:href="@{/task}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-info">Команда</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">Сотрудников: <span th:utext="${workersAmount}">0</span></h6>
                                    <p class="card-text">Свободны: <span th:utext="${freeWorkers}">0</span></p>
                                    <p class="card-text">Заняты: <span th:utext="${busyWorkers}">0</span></p>
                                    <a th:href="@{/team}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h5 class="my-0 font-weight-normal text-primary">Мои проекты</h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-primary">Проекты</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">В работе: <span th:utext="${activeProjects}"></span></h6>
                                    <p class="card-text">Ожидают: <span th:utext="${notApprovedProjects}"></span></p>
                                    <p class="card-text">Завершено: <span th:utext="${completedProjects}"></span></p>
                                    <a th:href="@{/project/get(type='active')}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasRole('ROLE_WORKER')">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h5 class="my-0 font-weight-normal text-primary">Мои задачи</h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-success">Задачи</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">В работе: <span th:utext="${activeTasks}"></span></h6>
                                    <p class="card-text">Ожидают выполнения: <span th:utext="${waitingTasks}"></span></p>
                                    <p class="card-text">На подтверждении: <span th:utext="${waitingApprove}"></span></p>
                                    <a th:href="@{/task}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasRole('ROLE_WAREHOUSEMAN')">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h5 class="my-0 font-weight-normal text-primary">Управление складом</h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-primary">Заявки</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">В работе: <span th:utext="${activeRequests}"></span></h6>
                                    <p class="card-text">Ожидают выполнения: <span th:utext="${waitRequests}"></span></p>
                                    <!--p class="card-text">На подтверждении: <span th:utext="${waitingApprove }"></span></p-->
                                    <a th:href="@{/warehouse/requests}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-success">Наличие</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">Всего позиций: <span th:utext="${positions}">0</span></h6>
                                    <p class="card-text">Необходимо заказать: <span th:utext="${needOrder.materialOrders.size()}">0</span></p>
                                    <a th:href="@{/warehouse}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-info">Поставки</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">Заказов: <span th:utext="${orders}">0</span></h6>
                                    <p class="card-text">Необходимо заказать: <span th:utext="${needOrder.materialOrders.size()}">0</span></p>
                                    <a th:href="@{/warehouse/shipments}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-3">
                            <div class="card shadow p-3 mb-5 bg-white" style="width: 18rem">
                                <div class="card-header">
                                    <span class="badge badge-pill badge-success">Готовые проекты</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-3 text">Доставка: <span th:utext="${deliveries}">0</span></h6>
                                    <p class="card-text">Самовывоз: <span th:utext="${samovivoz}">0</span></p>
                                    <a th:href="@{/project/get(type='in_delivery')}" class="card-link stretched-link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper/1.16.0/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</body>
</html>