<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет | S P M S</title>
    <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/lk.css}" rel="stylesheet" media="screen">

    <meta name="theme-color" content="#563d7c">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light sticky-top bg-light shadow-sm">
    <a class="navbar-brand" th:href="@{/}">S P M S</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cluster/add}">Переписки</a>
            </li>

        </ul>
    </div>
    <a class="btn btn-link my-2 my-sm-0" th:href="@{/logout}" role="button">Выход</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                    <span>Профиль</span>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-4">
                        <a class="nav-link active" href="#">
                            <span data-feather="home" th:text="${user.name}"></span>
                            <span class="sr-only">(current)</span>
                        </a>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-muted">
                            <span th:text="${user.getUserRole().displayValue}"></span>
                        </h6>
                    </li>
                </ul>



                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CUSTOMER')">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Создать проект</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Управление пользователями</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Склад</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Архив</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h5 class="my-0 font-weight-normal text-primary">Новый проект</h5>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-md-8 order-md-1">
                        <form th:action="@{/project/create}" th:object="${projectForm}" method="post">

                            <div class="row mb-1">
                                <div class="form-group col-md-12 md-3">
                                    <label for="name">Название проекта</label>
                                    <input type="text" class="form-control" id="name" placeholder="Введите название проекта" th:field="*{title}" required>
                                </div>
                            </div>
                            <div th:if="${invalidTitle}" class="row mb-1">
                                <div class="form-group col-md-12 md-3">
                                    <div class="alert alert-danger" role="alert">
                                        Проект с таким названием уже существует
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-1">
                                <div class="form-group col-md-12 md-3">
                                    <label for="desc">Описание проекта</label>
                                    <textarea class="form-control" id="desc" placeholder="Введите описание проекта" th:field="*{description}" rows="3" required></textarea>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="form-group col-md-6 md-3">
                                    <label for="start">Начало</label>
                                    <input type="date" class="form-control" id="start" placeholder="дд.мм.гггг" th:field="*{tsStart}"  required>
                                </div>
                                <div class="form-group col-md-6 md-3">
                                    <label for="dead">Окончание</label>
                                    <input type="date" class="form-control" id="dead" placeholder="дд.мм.гггг" th:field="*{tsStop}"  required>
                                </div>


                            </div>

                            <div th:if="${timingsError}" class="row mb-1">
                                <div class="form-group col-md-12 md-3">
                                    <div class="alert alert-danger" role="alert">
                                        Введите корректные значения в формате "дд.мм.гггг"
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-1">
                                <div class="form-group col-md-6 md-3">
                                    <label for="cost">Стоимость</label>
                                    <input type="number" class="form-control" id="cost" min="0" step="1" placeholder="Смешкоинов" th:field="*{cost}"  required>
                                </div>
                                <div class="form-group col-md-6 md-3">
                                    <label for="addinfo">Комментарий</label>
                                    <input type="text" class="form-control" id="addinfo">
                                </div>
                            </div>

                            <div th:if="${costError}" class="row mb-1">
                                <div class="form-group col-md-12 md-3">
                                    <div class="alert alert-danger" role="alert">
                                        Введите корректное значение стоимости
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-md-12 md-3">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Создать проект</button>
                                </div>
                            </div>

                        </form>

                    </div>



                </div>
            </div>

        </main>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper/1.16.0/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</body>
</html>