<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поставки | S P M S</title>
    <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/lk.css}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light sticky-top bg-light shadow-sm">
    <a class="navbar-brand" th:href="@{/}">S P M S</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cluster/add}">Переписки</a>
            </li>

        </ul>
    </div>
    <a class="btn btn-link my-2 my-sm-0" th:href="@{/logout}" role="button">Выход</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                    <span>Профиль</span>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-4">
                        <a class="nav-link active" href="#">
                            <span data-feather="home" th:text="${user.name}"></span>
                            <span class="sr-only">(current)</span>
                        </a>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-muted">
                            <span th:text="${user.getUserRole().displayValue}"></span>
                        </h6>
                    </li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item mb-1">
                        <a class="nav-link" th:href="@{/archive}">
                            <span data-feather="home">Архив</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h5 class="my-0 font-weight-normal text-primary">Активные заказы</h5>
            </div>

            <div class="container">
                <div class="row">

                    <th:block th:if="${ordersActive.size()!=0}">
                        <th:block th:each="order : ${ordersActive}">
                            <div class="col-md-4">
                                <div class="card shadow p-3 mb-5 bg-white">
                                    <h5 class="card-header text-primary">Заказ №<span th:text="${order.id}"></span></h5>
                                    <div class="card-body">
                                        <p class="card-text font-weight-bold">Количество позиций: <span class="font-weight-normal" th:text="${order.materialOrders.size()}"></span></p>
                                        <p class="card-text font-weight-bold">Дата заказа: <span class="font-weight-normal" th:text="${order.getOrderDate()}"></span></p>
                                        <button type="button" class="btn btn-link stretched-link" data-toggle="modal" data-target="#staticBackdrop" th:attr="data-target='#order' + ${order.id}">Подробнее</button>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" th:id="'order' + ${order.id}" data-backdrop="static" tabindex="-1" th:attr="aria-labelledby='staticBackdropLabel'+${order.id}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:id="'taskLabel' + ${order.id}">Заказ № <span th:text="${order.id}"></span></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="card-text font-weight-bold">Количество позиций: <span class="font-weight-normal" th:text="${order.materialOrders.size()}"></span></p>
                                            <p class="card-text font-weight-bold">Дата заказа: <span class="font-weight-normal" th:text="${order.getOrderDate()}"></span></p>
                                            <p class="card-text font-weight-bold">Позиции</p>
                                            <th:block th:each="position : ${order.materialOrders}">
                                                <div class="row mb-2">
                                                    <div class="col-5">
                                                        <p class="h6 font-weight-bold" th:text="${position.material.title}">Материал</p>
                                                    </div>
                                                    <div class="col-7">
                                                        <p class="h6 font-weight-normal" th:text="${position.quantity}"></p>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{/warehouse/orders/{id}/{action}(id=${order.id}, action='complete')}">
                                                <button type="submit" class="btn btn-primary">Подтвердить поступление</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </th:block>
                    </th:block>

                    <th:block th:if="${ordersActive.size() == 0}">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 ">
                            <h6 class="my-0 font-weight-light text-secondary">Нет активных заказов</h6>
                        </div>
                    </th:block>

                </div>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h5 class="my-0 font-weight-normal text-primary">Необходимо заказать</h5>
            </div>
            <th:block th:if="${needOrder.materialOrders.size() != 0}">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Наименование</th>
                            <th scope="col">Остаток на складе</th>
                            <th scope="col">Кол-во для заказа</th>
                            <th scope="col">Цена/ед</th>
                            <th scope="col">Общая стоимость</th>
                        </tr>
                        </thead>

                        <tbody>
                        <th:block th:if="${needOrder ne null}">
                            <th:block th:if="${needOrder.status == 0}">
                                <th:block th:each="order : ${needOrder.materialOrders}">
                                    <tr>
                                        <td th:text="${order.material.title}"></td>
                                        <td th:text="${order.material.balance}"></td>
                                        <td th:text="${order.quantity}"></td>
                                        <td th:text="${order.material.cost}"></td>
                                        <td th:text="${order.quantity * order.material.cost + '₡'}"></td>
                                    </tr>
                                </th:block>
                            </th:block>

                        </th:block>
                        <tr>
                            <td><p class="h5">Итог</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><p class="h5" th:text="${needOrder.total + '₡'}"></p></td>
                        </tr>
                        </tbody>

                    </table>

                    <form th:action="@{/warehouse/shipments}" th:object="${orders}" method="post">
                        <input type="hidden" th:value="${needOrder.materialOrders.size()}" th:attr="name='quantity'">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary">
                                Заказать
                            </button>
                        </div>
                    </form>
            </th:block>
            <th:block th:if="${needOrder.materialOrders.size() == 0}">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 ">
                    <h6 class="my-0 font-weight-light text-secondary">Нет материалов для заказа</h6>
                </div>
            </th:block>

        </main>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</body>
</html>