<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Проекты | S P M S</title>
    <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/lk.css}" rel="stylesheet" media="screen">

    <meta name="theme-color" content="#563d7c">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light sticky-top bg-light shadow-sm">
    <a class="navbar-brand" th:href="@{/}">S P M S</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/main}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/chatrooms}">Переписки</a>
            </li>

        </ul>
    </div>
    <a class="btn btn-link my-2 my-sm-0" th:href="@{/logout}" role="button">Выход</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                    <span>Профиль</span>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-4">
                        <a class="nav-link active" href="#">
                            <span data-feather="home" th:text="${user.name}"></span>
                            <span class="sr-only">(current)</span>
                        </a>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-muted">
                            <span th:text="${user.getUserRole().displayValue}"></span>
                        </h6>
                    </li>
                </ul>



                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CUSTOMER')">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" th:href="@{/project/create}">
                                <span data-feather="home">Создать проект</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item mb-1">
                        <a class="nav-link" th:href="@{/archive}">
                            <span data-feather="home">Архив</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <!--div sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Управление пользователями</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Склад</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link" href="#">
                                <span data-feather="home">Архив</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div-->

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h5 class="my-0 font-weight-normal text-primary">Проекты</h5>
            </div>

            <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CUSTOMER')">
            <ul class="nav nav-tabs mb-4">
                <th:block th:switch="${currentType}">
                    <th:block th:case="'active'">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/project/get(type='active')}">В работе</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='inactive')}">В ожидании</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='completed')}">Завершены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='delivery')}">В доставке</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='rejected')}">Отклонены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='archived')}">В архиве</a>
                        </li>
                    </th:block>
                    <th:block th:case="'inactive'">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='active')}">В работе</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/project/get(type='inactive')}">В ожидании</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='completed')}">Завершены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='delivery')}">В доставке</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='rejected')}">Отклонены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='archived')}">В архиве</a>
                        </li>
                    </th:block>
                    <th:block th:case="'completed'">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='active')}">В работе</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='inactive')}">В ожидании</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/project/get(type='completed')}">Завершены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='delivery')}">В доставке</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='rejected')}">Отклонены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='archived')}">В архиве</a>
                        </li>
                    </th:block>
                    <th:block th:case="'delivery'">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='active')}">В работе</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='inactive')}">В ожидании</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='completed')}">Завершены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/project/get(type='delivery')}">В доставке</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='rejected')}">Отклонены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='archived')}">В архиве</a>
                        </li>
                    </th:block>
                    <th:block th:case="'rejected'">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='active')}">В работе</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='inactive')}">В ожидании</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='completed')}">Завершены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='delivery')}">В доставке</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/project/get(type='rejected')}">Отклонены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='archived')}">В архиве</a>
                        </li>
                    </th:block>
                    <th:block th:case="'archived'">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='active')}">В работе</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='inactive')}">В ожидании</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='completed')}">Завершены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='delivery')}">В доставке</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/project/get(type='rejected')}">Отклонены</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/project/get(type='archived')}">В архиве</a>
                        </li>
                    </th:block>
                </th:block>


            </ul>

            <div class="container">
                <div class="row">

                    <th:block th:if="${projects.size()!=0}">
                        <th:block th:each="project : ${projects}">
                            <div class="col-md-4">
                                <div class="card shadow p-3 mb-5 bg-white">
                                    <h5 class="card-header text-primary" th:text="${project.title}">Project title</h5>
                                    <div class="card-body">
                                        <!--h5 class="card-title" th:text="${project.description}">Project description</h5-->
                                        <p class="card-text font-weight-bold">Заказчик: <span class="font-weight-normal" th:text="${project.owner.name}"></span></p>
                                        <p class="card-text font-weight-bold">Начало: <span class="font-weight-normal" th:text="${project.getStartTimestamp()}"></span></p>
                                        <p class="card-text font-weight-bold">Окончание: <span class="font-weight-normal" th:text="${project.getDeadTimestamp()}"></span></p>
                                        <p class="card-text font-weight-bold">Стоимость: <span class="font-weight-normal" th:text="${project.getActualConst()}"></span><span class="font-weight-normal"> ₡</span></p>
                                        <p class="card-text font-weight-bold">Создан: <span class="font-weight-normal" th:text="${project.getAddedTimestamp()}"></span></p>
                                        <div class="progress mb-1">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${project.calculateProgress()}" th:style="'width:' + ${project.calculateProgress()} + '%'"></div>
                                        </div>

                                        <a th:href="@{/project/{id}(id=${project.id})}" th:attr="name=${project.id}" class="card-link stretched-link">К деталям</a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:if="${projects.size() == 0}">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 ">
                            <h6 class="my-0 font-weight-light text-secondary">Нет проектов в данной категории</h6>
                        </div>
                    </th:block>

                </div>
            </div>
            </div>

            <div sec:authorize="hasRole('ROLE_WAREHOUSEMAN')">
                <div class="container">
                    <div class="row">

                        <th:block th:if="${projects.size()!=0}">
                            <th:block th:each="project : ${projects}">
                                <div class="col-md-4">
                                    <div class="card shadow p-3 mb-5 bg-white">
                                        <h5 class="card-header text-primary" th:text="${project.title}">Project title</h5>
                                        <div class="card-body">
                                            <!--h5 class="card-title" th:text="${project.description}">Project description</h5-->
                                            <p class="card-text font-weight-bold">Заказчик: <span class="font-weight-normal" th:text="${project.owner.name}"></span></p>
                                            <p class="card-text font-weight-bold">Начало: <span class="font-weight-normal" th:text="${project.getStartTimestamp()}"></span></p>
                                            <p class="card-text font-weight-bold">Окончание: <span class="font-weight-normal" th:text="${project.getDeadTimestamp()}"></span></p>
                                            <p class="card-text font-weight-bold">Стоимость: <span class="font-weight-normal" th:text="${project.getActualConst()}"></span><span class="font-weight-normal"> ₡</span></p>
                                            <p class="card-text font-weight-bold">Создан: <span class="font-weight-normal" th:text="${project.getAddedTimestamp()}"></span></p>
                                            <div class="progress mb-1">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${project.calculateProgress()}" th:style="'width:' + ${project.calculateProgress()} + '%'"></div>
                                            </div>

                                            <a th:href="@{/project/{id}(id=${project.id})}" class="card-link stretched-link">К деталям</a>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>

                        <th:block th:if="${projects.size() == 0}">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 ">
                                <h6 class="my-0 font-weight-light text-secondary">Нет проектов в данной категории</h6>
                            </div>
                        </th:block>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper/1.16.0/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</body>
</html>